<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
{% if messages %}
    {% for message in messages %}
    <h1 style="background-color: red">{{ message }}</h1>
 	{% endfor %}
{% endif %}
<h1>Registration</h1>
<form action="/validate" method="post">
{% csrf_token %}
	Username:<input type="text" name="username">
	Email:<input type="text" name="email">
	Password: <input type="text" name="password">
	Confirm pw: <input type="text" name="confirm_pw">
	<input type="submit" value="Register">
</form>
<h1>Login</h1>
<form action="/login" method="post">
	{% csrf_token %}
	Email:<input type="text" name="email">
	Password: <input type="text" name="password">
	<input type="submit" value="Login">
</form>
</body>
</html>